html {
  background-color: hsl(0, 0%, 14%);
}

a:hover {
  color: #a7a7a7;
}

hr {
  background-color: hsla(0, 0%, 96%, 0.29);
}

hr.is-dark {
  background-color: hsla(0, 0%, 15%, 0.53);
}

strong {
  color: #f1f1f1;
}

kbd {
  background-color: #72767d;
  box-shadow: inset 0 -4px 0 rgba(35,39,42,.6);
  color: #f6f6f7;
  border-radius: 2.5px;
  cursor: default;
  padding: 2px 6px 5px;
  display: inline-block;
  height: 28px;
  font-size: 0.9em;
}

.hljs {
  padding: 0em !important;
  background: inherit !important;
}

.input-dropdown {
  display: block;
  transform: translate(0px, -10px);
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  z-index: 100;
}

.input-dropdown-item {
  color: #4a4a4a;
  display: block;
  font-size: 0.85rem;
  line-height: 1.5;
  padding: 0.2rem 1rem;
  position: relative;
  font-family: monospace;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: white;
}

.is-fullwidth {
  width: 100%;
}

.is-invis {
  display: none;
}

.pagination-previous, .pagination-next, .pagination-link {
  color: white;
}

.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
  background-color: whitesmoke;
  color: #363636;
}

.gameversion-list > input {
  border-radius: 0;
  border-color: #6f6f6f !important;
  border-width: 1px;
  border-style: solid;

  border-top: initial;
}

.gameversion-list > input:first-child {
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #6f6f6f !important;
}

.gameversion-list > input:last-child {
  border-radius: 0 0 4px 4px;
}

.gameversion-list > input:only-child {
  border-radius: 4px;
}

a.is-control, button.is-control {
  width: 100%;
  margin-bottom: 10px;
}

.reverse-row-order {
  flex-direction: row-reverse;
}

div.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.mod-titles {
  display: flex;
  align-items: center;
}

div.is-main {
  margin: 0 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}

div.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.login-tile {
  max-width: 500px;
  flex-direction: column;
}

div.publish-tile {
  flex-direction: column;
}

a.mod-link {
  color: white;
}

a.mod-link:hover {
  text-decoration: underline;
}

.file-input {
  display: none;
}
