html {
  background-color: hsl(0, 0%, 14%);
}

hr {
  background-color: hsla(0, 0%, 96%, 0.29);
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: white;
}

.is-fullwidth {
  width: 100%;
}

.is-invis {
  display: none;
}

.reverse-row-order {
  flex-direction: row-reverse;
}

div.mod-titles {
  display: flex;
  align-items: center;
}

div.is-main {
  margin: 0 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}

div.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.login-tile {
  max-width: 500px;
  flex-direction: column;
}

div.publish-tile {
  flex-direction: column;
}
